.components-progress {
  height: 3px;
  background-color: #ddd;
  cursor: pointer;
  font-size: 18px;
  padding: 0;
  margin-top: 8px;
  margin-left: 25px;
}
.components-progress .progress {
  height: 3px;
  overflow: hidden;
}
